<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User Detail | Node App</title>
    </head>
    <body>
        <%- include("nav")%>
        <h1><%= user.name%></h1>
        <h3><%= user.email%></h3>
        <hr />
        <ul>
            <% user.posts.forEach(post => { %>
            <!--  -->
            <li>
                <%= post.title %> |
                <a href="/post/delete/<%= post._id %>">❌</a> |
                <a href="/post/update/<%= post._id%>">✏️</a> |
                <!--  -->
                <% }) %>
            </li>
        </ul>
    </body>
</html>
